<h2>VolgaCTF 2018 Quals regulations</h2>
<p class="lead">Greetings everybody and welcome to VolgaCTF 2018 Quals!</p>

<p class="lead">To take part in the competition, you should sign up with an email address, your team's name (Latin characters only) and a logo. <strong>Warning!</strong> You will not be able to change your team's name once registered so please <a href="https://ctftime.org/stats/" target="_blank">be careful</a> in order not to take other team's name by accident. The number of team members is not limited.</p>

<p class="lead">Please specify a valid email address to get a verification email. It will be <strong>impossible</strong> to change the email address after you confirm your participation by clicking the link in the verification email.</p>

<p class="lead">Besides, we kindly ask you to specify your country in the registration form - we are collecting this information for statistical purposes.</p>

<p class="lead">Teams from Russia are also asked to fill in an institution field.</p>

<p class="lead">The contest starts on March 24 at 19:00 SAMT/15:00 UTC and lasts 48 hours. Flags match <code>/VolgaCTF{[\x20-\x7F]+}/</code> unless stated otherwise. Check the <a href="/news" target="_blank">News</a> page at times - there might be some important pieces of information about the competition. We will answer your questions and make other announcements in <a href="https://t.me/joinchat/AAAAAEJqPUR2OoBUXwRgBQ" target="_blank">Telegram public chat</a>. Technical support is also provided by email <a href="mailto:quals2017@volgactf.ru">quals2017@volgactf.ru</a>.</p>

<p class="lead">Competitors are forbidden to perform destructive actions against competition infrastructure (<code>*.volgactf.ru</code> and <code>*.volgactf.org</code>) and to prevent other teams from playing. A team violating the rules will be disqualified.</p>

<p class="lead">While conversing in Telegram public chat, you are expected to be respectful to each other and to restrain from using swear words. Exchanging flags is strictly prohibited. A person asking for, or trading their flags will be expelled from the chat.</p>

<p class="lead">We reserve the right to amend these regulations at any time.</p>

<h2>VolgaCTF 2017 Finals regulations</h2>
<p class="lead">VolgaCTF 2017 Finals (attack-defence) will be held on September 11-15 in Samara, Russia.</p>

<p class="lead">In 2017 we have the following quotas for VolgaCTF 2017 Finals:</p>
<ul class="lead">
	<li>5 teams from the Volga Federal District of Russia,</li>
	<li>5 teams from other regions of Russia,</li>
	<li>3 foreign teams.</li>
</ul>

<p class="lead">We are going to invite top teams (according to VolgaCTF 2017 Quals scoreboard) on the condition that these teams <i>have specified institution of higher education in their profile</i>. If there appears to be several teams coming from the same educational establishment in the list, we will invite <strong>the one having the highest rank</strong> among those teams.</p>

<p class="lead">The board may change these quotas on technical grounds. Also, we may invite up to 3 guest teams by means of additional quota.</p>

<p class="lead">Invitations will be sent to emails specified in teams’ profiles. It is <strong>crucial</strong> that the team eligible for participation in VolgaCTF 2017 Finals confirms its participation <strong>by Aug 1</strong>.</p>

<p class="lead">The preliminary list of the teams invited to VolgaCTF 2017 Finals will be published on the competition website no later than 14 days after VolgaCTF 2017 Quals is finished.</p>

<p class="lead">Please note that a team will be excluded from this list:</p>
<ul class="lead">
	<li>if a team denies taking part in the competition, or does not provide timely confirmation of participation,</li>
	<li>if a team is unable to cover its travel and accommodation costs (we <strong>do not</strong> provide financial support),</li>
	<li>if more than half of members in a team graduated more than 2 years ago.</li>
</ul>

<p class="lead">Should any team be excluded from the preliminary list, the next one of the same quota (according to VolgaCTF 2017 Quals scoreboard) will be invited.</p>

<p class="lead">Last but not least, we have a limit to the number of participants per team, that is <strong>up to 7 members</strong> in each team.</p>

<p class="lead">We reserve the right to amend these regulations at any time.</p>

<h2>Credits</h2>
<p class="lead">Tasks and services are devised in collaboration with the <a href="http://www.ssau.ru/english/education/institutes_faculties/ime/" target="_blank">Institute of Informatics, Mathematics and Electronics of Samara University</a>.</p>
