<div class="container d-none d-md-block">
    <div class="float-left">
        <ul class="list-unstyled text-left my-auto">
            <li>&copy;&nbsp;<script>document.write((new Date()).getFullYear())</script>&nbsp;<a href="https://github.com/aspyatkin/themis-quals" target="_blank">Themis Quals</a> &amp; <a href="https://volgactf.ru" target="_blank">VolgaCTF</a></li>
            <li>Proudly made by <a href="https://aspyatkin.com" target="_blank">Alexander Pyatkin</a> and contributors</li>
        </ul>
    </div>
    <div class="float-right my-auto">
        <!-- Extra links -->
        <ul class="list-unstyled text-right">
            <li><a href="https://twitter.com/VolgaCTF" target="_blank">@VolgaCTF</a></li>
        </ul>
    </div>
</div>
<div class="container d-md-none text-center">
    <p>&copy;&nbsp;<script>document.write((new Date()).getFullYear())</script>&nbsp;<a href="https://github.com/aspyatkin/themis-quals" target="_blank">Themis Quals</a> &amp; <a href="https://volgactf.ru" target="_blank">VolgaCTF</a></p>
</div>
